*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;

    text-decoration: none;
    list-style: none;

}

$mycolor: #03987A;

$bp: (
    mobile:480px,
    tablet:760px,
);

@mixin query ($screen){
    @each $key, $value in $bp{
        @if($screen == $key){
            @media (max-width:$value){
                @content;
            }
        }
    }
}


body{
    font-family: sans-serif;

    //header control
    .header{
        
        //background-color: #696969 ;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 10vh;
        padding: 0rem 1rem;


        &__logo{
            font-size: clamp(1.38rem, 1.27rem, 1.42rem);
            font-weight: bold;
            color: #03987A;
        }


        &__menucontrolbtns{
            width: 1vw;
            display: none;
        }


        &__btns{
            display: flex;
            flex-direction: row;
            // transition: all 0.5s ease-in;
            gap: 1.5rem;
            [class ^="item__"]{
                transition: all 0.5s ease-in;
                cursor: pointer;
                // padding: 0.5rem 1rem;
                border-top-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
            }
            [class ^="item__"]:hover{
                
                color: white;
                //transform: scale(1.1);
                //box-shadow: .2rem .2rem 1rem rgba(3, 152, 122, .4);
                padding: 0.5rem .8rem;
                background-color: #03987A;
            }
        }
    }


    //main control
    .main{
        //background-color: red;
        width: 100vw;
        height: 80vh;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        //author picture
        &__authorpic{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
           // background-color: black;
            [class ^="authorpic__"]{
                width: 80%;
                border-radius: 1rem;
                object-fit: contain;
                object-position: top center;
            }

        }

        //author info
        &__authorinfo{
            [class ^="__infos"]{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                gap: 0.4rem;
                [class ^="infos__"]{
                    font-size: clamp(2rem, 2.2rem, 20.4rem);
                    span{
                        font-size: clamp(2rem, 2.2rem, 20.4rem);
                        font-weight: bold;
                        color: #03987A;
                    }
                }
                .infos__greeting{
                    font-size: clamp(2.3rem, 2rem, 2.5rem);
                    font-weight: bold;
                }
            }
        }
    }


    //footer
    .footers{
        display:flex;
        flex-direction: row;
        //background-color: black;
        justify-content: flex-end;
        align-items: center;
        transition: all 0.5s ease;
        //gap: 1rem;
        &__foot{
            //background-color: black;
            position: relative;
            right: 18%;
            display: flex;
            flex-direction: row;
            gap: 0.5rem ;
            [class ^="footers__"]{
                transition: all 0.5s ease;
                width: 1.6rem;
                // padding-right: .2rem;
            }

            padding: 0 1rem;
            [class ^="footers__"]:hover{
               transform:scale(1.3) ;
               cursor: pointer;
            }
        }
    }
}





@include query(mobile){
   body{

    //header control
    .header{
        //padding: 2rem 0;
        justify-content: center;
        background-color: #03987A;
        &__logo{
            font-size: clamp(2rem, 30vw, 1.38rem);
            color: white;
        }


        // &__menucontrolbtns{
        
        // }


        &__btns{
            display: none;
            
        }
    }


    //main control
    .main{
        //background-color: black;
        width: 100vw;
        height: 80vh;

        display: flex;
        flex-direction: column;
        // gap:-2rem ;
        &__authorpic{
            //background-color: red;
            width: 100%;
            padding-right: 2rem;
            [class ^="authorpic__"]{
            
                width: 80%;
                //height: 60%;
                //background-color: red;
                object-position: top center;
                object-fit: cover;
                border-radius: 3rem;
            
            }   

        }

        //author info
        &__authorinfo{
            
            [class ^="__infos"]{
                
                gap: 0.2rem;
                [class ^="infos__"]{
                    font-size: clamp(1rem, 1.5rem, 1.6rem);
                    span{
                        font-size: clamp(1.5rem, 1.6rem, 1.8rem);
                    }
                }
                .infos__greeting{
                    display: none;
                }
            }
        }
    }


    //footer
    .footers{
        position: absolute;
        height: 10rem;
        right: 0;
        bottom: 15rem;
        padding-right: .5rem;
        &__foot{
            position: none;
            flex-direction: column;
            right: 0;
            gap: 1rem ;
            align-items: center;
            justify-content: center;
            [class ^="footers__"]{
                padding: 0;
                margin: 0;
            }
        }
    }

   }




}