* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body .hero {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
}
body .hero .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.2rem;
  height: 10vh;
}
body .hero .header .header__logo {
  font-size: clamp(1.2rem, 8vw, 1.4rem);
  font-weight: bold;
}
body .hero .header .header__logo span {
  color: #03987A;
}
body .hero .header .header__nav .navmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  transition: all 0.5s ease-in;
}
body .hero .header .header__nav .navmenu li {
  transition: all 0.5s ease-in-out;
}
body .hero .header .header__nav .navmenu li:hover {
  cursor: pointer;
  background-color: #03987A;
  padding: 0.4rem 1.2rem;
  color: white;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(3, 152, 122, 0.6);
}
body .hero .main {
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
}
body .hero .main__img {
  width: 50%;
  height: 80vh;
  background-image: url("./myim.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
body .hero .main .content {
  width: 50%;
}
body .hero .main .content .main__content {
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}
body .hero .main .content .main__content .maincontent__compliment {
  font-size: clamp(2rem, 7vw, 4rem);
  text-align: center;
}
body .hero .main .content .main__content .maincontent__ {
  font-size: clamp(1.8rem, 1.5vw, 25rem);
  text-align: center;
}
body .hero .main .content .main__content .maincontent__ span {
  color: #03987A;
  font-weight: bold;
}
body .hero .main .content .main__content .maincontent__:hover span {
  cursor: pointer;
}
body .hero .footers {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  padding-right: 16rem;
  transition: all 0.5s ease-in;
  padding-bottom: 2rem;
}
body .hero .footers img {
  width: clamp(1.8rem, 2%, 2rem);
  cursor: pointer;
  transition: all 0.6s ease-in;
}
body .hero .footers img:hover {
  transform: scale(2);
}

@media (max-width: 650px) {
  body .hero .header {
    justify-content: center;
  }
  body .hero .header .header__logo {
    text-align: center;
    font-size: 1.5rem;
  }
  body .hero .header .header__nav .navmenu {
    display: none;
  }
  body .hero .main {
    flex-direction: column;
    height: 75vh;
    gap: 1rem;
  }
  body .hero .main .main__img {
    width: 80vw;
    border-radius: 100vw;
    background-size: cover;
  }
  body .hero .main .content {
    width: 100vw;
  }
  body .hero .main .content .main__content .maincontent__compliment {
    display: none;
  }
  body .hero .main .content .main__content .text {
    font-size: 1.2rem;
  }
  body .hero .main .content .main__content .text span {
    font-size: 1.3rem;
  }
  body .hero .footers {
    height: 10vh;
    padding: 0;
    margin: 2rem 0;
    align-items: center;
    justify-content: center;
  }
}/*# sourceMappingURL=indx.css.map */